/* .Bijoy {
    background:blue;important
} */
 /* common css starts here */
a{
      text-decoration: none;

 }
 ul,ol {
    list-style: none;
 }
 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box !;
 }
 .viewpricing-button {
      color: #ffff;
    font-size: 16px;
    font-weight: 600;
    margin-left: 40px;
     font-family: "Poppins", sans-serif;
     position: relative;
     overflow: hidden;
    
   
}
.viewpricing-button i {
    position: absolute;
    top: 50%;
    right: -35px;
    transform: translate(-50%,-50%);
     transition: .4s;
     opacity: 0;
}
.viewpricing-button:hover i {
   right: -55px;
   opacity: 1;
   overflow: visible;
}
/* comon css ends here */
 nav {
    background: #1C1E53;
     padding: 20px 0px !important;
    
 }

.tittle h2 {
     color: rgb(40, 41, 56,1);
    font-size: 48px;
    font-weight: 600;
      font-family: "Poppins", sans-serif;
      width: 405px;
    
}
.tittle p {
    color:rgba(40, 41, 56,,0.7);
    width: 405px;
        font-size: 16px;
    font-weight: 400;
      font-family: "Poppins", sans-serif;
      padding: 16px 0;
   
}
.tittle a {
     font-size: 18px;
    font-weight: 500;
      font-family: "Poppins", sans-serif;
     
      color: rgba(36, 5, 242,1);
}
.tittle .viewpricing-button {
    margin-left: 0px;
}


 /* coomon css ends here */
nav .nav-link {
    font-size: 16px;
    font-weight:500 ;
    color: #BBBBCB;
     transition: .4s;
  font-family: "Poppins", sans-serif;
  padding: 0px !important;
}
nav .nav-link:hover {
    color: #ffff;
}
nav .navbar-nav {
    column-gap: 32px;
}
nav .nav-button {
    padding: 16px 48px;
    background: transparent;
    border: 1px solid rgba(244, 246, 252,0.20);
    border-radius: 41px;
    color: rgba(255, 255, 255,1);
    font-size: 16px;
    font-weight: 600;
     font-family: "Poppins", sans-serif;
     text-decoration: none;
     display: inline-block;
     margin-left: 48px;
     transition: .4s;


}
nav .nav-button:hover {
    background-color: #FCD980;
    color: black;
}
/* /* navbar css ends here */
/* section css starts here */
.banner {
    background-color: #1C1E53;
   padding-top: 126px;
    padding-bottom: 128px;
}
.banner h1 {
    color: white;
    font-size: 54px;
    font-weight: 600;
     font-family: "Poppins", sans-serif;
     width: 582px;
}
.banner p {
        color: rgba(255, 255, 255,0.7);
    font-size: 16px;
    font-weight: 500;
     font-family: "Poppins", sans-serif;
     width: 562px;
     padding-top: 24px;
     padding-bottom: 48px;
     line-height: 33px;
}
.banner-button {
    padding: 16px 56px;
    background: #FCD980;
    border: 1px solid transparent;
    border-radius: 41px;
    color: #1B1C2B;
    font-size: 18px;
    font-weight: 600;
     font-family: "Poppins", sans-serif;
   
     display: inline-block;
  
     transition: .4s; 
}
.banner-button:hover {
   border-color:#FCD980 ;
   color: #FCD980;
    background: transparent;

}

/* banner css ends here */
/* work css starts here */
.Work {
    background-color: #F4F6FC;
    padding-top: 128px;
    padding-bottom: 128px;
}
.work-card h4 {
     font-size: 32px;
    font-weight: 500;
     font-family: "Poppins", sans-serif;
     color: rgba(40, 41, 56,1);
       padding-top: 16px;
     padding-bottom: 8px;
   
}
.work-card p {
         font-size: 16px;
    font-weight: 400;
     font-family: "Poppins", sans-serif;
     color: rgba(40, 41, 56,.70);
     line-height: 28px;
     width: 303px;
   
}

.Work .container .Card7008{
 row-gap: 48px;
}
/* work css ends here */
/* project css starts here */
/* .Project .container .tittle {
    display: flex;
    align-items: center;
    justify-content: center;
}

 */.Project {
    padding: 128px 0;
 }
.Project .tittle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 64px;
}

.Project .viewpricing-button {
    overflow: visible; 
}

.Project .viewpricing-button:hover i {
   opacity: 1;
} 
.Project a {
    color: rgba(40, 41, 56,1);
}
.Project img:nth-child(2){
    padding-top: 30px;
}
.Project .overly {
    width: 50%;
    height: 100%;
   
    position: absolute;
    top: 0;
    left: -50%;
     transition: .5s;
   background-image: linear-gradient(to bottom right, #1C1E53,rgba(28, 30, 83,0.42) );
}
.Project .project-card {
    position: relative;
    overflow: hidden;
    
}
.Project img:nth-child(0) {
    width: 100%;
    height: 100%;

}
.Project .project-card:hover .overly {
   
    left: 0;
    overflow: visible;
  
    padding: 312px 37px 0px 51px;


}
.Project .project-card h4 {
         font-size: 24px;
    font-weight: 600;
     font-family: "Poppins", sans-serif;
     color: rgba(255, 255, 255,1);
     width: 332.76px;
}
.Project .project-card p {
         font-size: 16px;
         line-height: 28px;
    font-weight: 500;
     font-family: "Poppins", sans-serif;
     color: rgba(255, 255, 255,1);
     width: 311.5px;
}
.Project .project-card .overly a {
    color: rgba(252, 217, 128,1);
}
.Project .container .project-card2 {
    position: relative;
    overflow: hidden;

}
.Project .project-card2 .overly2 {
    width: 100%;
    height: 0%;
    background-image: linear-gradient(to bottom left  , #1C1E53,rgba(28, 30, 83,0.42) );
    position: absolute;
    transition: .4s;
    top: 0;
    left: 0;
}
.Project .project-card2:hover .overly2{
  height: 100%;
  overflow: visible;
  padding-top: 129px;
  padding-left: 58px;
  padding-right: 36px;
}
.Project .project-card2 .overly2 h5 {
         font-size: 24px;
    font-weight: 600;
     font-family: "Poppins", sans-serif;
     color: rgba(255, 255, 255,1);
}
.Project .project-card2 .overly2 a {
color: rgba(252, 217, 128,1);
}
.Project .project-card3 {
    padding-top: 32px;
}
/*  */
.Project .container .project-card3 {
    position: relative;
    overflow: hidden;

}
.Project .project-card3 .overly3 {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to left bottom  , #1C1E53,rgba(28, 30, 83,0.42) );
    position: absolute;
    transition: .4s;
    bottom: -100%;
    left: 0;
}
.Project .project-card3:hover .overly3{
  /* height: 100%; */
  overflow: visible;
  bottom: 0;
 
}

.Project .project-card3 {
    padding-top: 32px;
}
/* project css ends here */
/* features css starts here */
.features .container h6{
    text-align: center;
    color: rgba(40, 41, 56,1);
        font-size: 18px;
    font-weight: 500;
     font-family: "Poppins", sans-serif;

}
.features .container  h2 {
         font-size: 48px;
    font-weight: 600;
     font-family: "Poppins", sans-serif;
      color: rgba(40, 41, 56,1);

 width: 630px;
 margin: 0 auto;
 padding-top: 12px;
 padding-bottom: 47px;

}
.features .container .box-card1{
    background-color: rgba(255, 255, 255,1);
   
   
   
   
}

.features{
    background-color:rgba(244, 246, 252,1);
    padding-top: 35px;
}
.features .container .box-card1 h2 {
         font-size: 24px;
    font-weight: 500;
     font-family: "Poppins", sans-serif;
     color: rgba(40, 41, 56,1);
     padding-bottom: 12px;
     padding-top: 22px;
     padding-left: 48px;

}
.features .container .box-card1 img {
    padding-left: 48px;
    padding-top: 58px;
}
.features .container .box-card1 p {
    padding-left: 48px;
         font-size: 24px;
    font-weight: 400;
     font-family: "Poppins", sans-serif;
    
     color: rgba(40, 41, 56,.70);
     padding-bottom: 48px;
     width: 324.08;
   
    }
    /* features css ends here */
    /*clients css starts here  */
.client {
       padding-top: 126px;
       padding-bottom: 140px;
       background-color: #F4F6FC;
    }
.client .container h2 {
        font-size: 36px;
    font-weight: 600;
     font-family: "Poppins", sans-serif;
  
     color: rgba(40, 41, 56,1) ;
    
}
.client .container p{
       font-size: 16px;
    font-weight: 400;
     font-family: "Poppins", sans-serif;
     color: rgba(40, 41, 56,0.70);
     width: 327px;
}
.client .container .Profile .profile1{

    display: flex;
    align-items: center;
    justify-content: center!important ;
    column-gap: 14px;
        margin-right: 256px;
}
.client .container .Profile {
    padding-top: 76px;
} 
/* client css ends here  */
/* frequnt css starts here */
.frequent {
    padding-top: 135px;
    padding-left: 158px;
    padding-right: 159px;
    padding-bottom: 130px;
}
.frequent .container h4 {
    font-size: 38px;
    font-weight: 600;
     font-family: "Poppins", sans-serif;
     color: rgba(40, 41, 56,1);
     width: 328px;
     line-height: 56px;
}
.frequent .container a {
    color: rgba(36, 5, 242,0.87);
      font-size: 18px;
    font-weight: 500;
     font-family: "Poppins", sans-serif;
     position: relative;
     overflow: hidden;
}
.frequent .container a i {
    position: absolute;
    top: 50%;
    left: 241px;
 transform: translate(-50%,-50%);
 opacity: 0;
 transition: .5s;
    
}
.frequent .container a:hover i {
   opacity: 1;
   overflow: visible;
   left: 282px;

}
.frequent .container .accordion-header .accordion-button {
      font-size: 24px;
    font-weight: 500;
     font-family: "Poppins", sans-serif;
     color:rgba(40, 41, 56,1);
}
.frequent .container .accordion-header .accordion-button span {
      font-size: 24px;
    font-weight: 500;
      font-family: "Poppins", sans-serif;
     color: rgba(36, 5, 242,1);
     padding-right: 59px;
   
}
.frequent .accordion-body {
    padding: 0px 102px;
      font-size: 18px;
    font-weight: 500;
     font-family: "Poppins", sans-serif;
     color: rgba(40, 41, 56,0.87);
}
.frequent .container .accordion-item {
    border: 0px !important;
}
.frequent .container .accordion-header {
    /* padding: 32px 0px; */
}
.frequent .accordion-header {
    
     padding: 12px 0px;
}
.accordion-button.collapsed {
background-color: transparent !important;
border: none !important;
box-shadow: none !important;

}
.accordion-button{
   
     /* border: none !important; */
    background-color: transparent !important;
    box-shadow: none !important;
    /* border-bottom:1px solid #ECECF1 ; */

  
}



.accordion-button {
 border-bottom: 1px solid red;
  
}
.accordion-button .collapsed {
      
       border-bottom: none !important;
 }
/* 
.
/* 

} */ 
/*  */

.accordion-collapse.collapse {
   
    border-bottom: 1px solid #ECECF1;
}
/*  */
.accordion-button:not(.collapsed)::after {
    background-image: none !important;
    content: "x";
    transform: rotate(0);
    /* content: "bijoy"; */
   
}



.accordion-button::after {
    background-image: none !important;
    content: "+";
    transform: rotate(0);
    /* content: "ajoy"; */
   
}
/* faq css ends here
/* contact us css starts here */
.contact-us .contatc-content {
    width: 100%;
    height: 100%;
    background-color: #1C1E53;
}
.contact-us img {
    width: 100%;
}
.contact-us .row {
--bs-gutter-x :0 !important;
}
.contact-us .contact-images .overly {
    width: 100%;
    height: 100%;
    background-color:rgba(28, 30, 83,0.50);
    position: absolute;
    top: 0;
    left: -100%;
    padding-top: 201px;
    padding-left: 123px;
    transition: .5s;

}
.contact-us .contact-images  {
    position: relative;
    overflow: hidden;
}
.contact-us .contact-images .overly h2 {
    color: rgba(255, 255, 255,1);
     font-size: 54px;
    font-weight: 600;
     font-family: "Poppins", sans-serif;
       width: 464px;
}
.contact-us .contact-images .overly p {
       color: rgba(255, 255, 255,1);
     font-size: 16px;
    font-weight: 500;
     font-family: "Poppins", sans-serif;
     width: 464px;
     margin-top: 24px;
}
.contact-us .contact-images:hover .overly {
  left: 0;
  overflow: visible;
}
.contact-us .contatc-content h4 {
     font-size: 32px;
    font-weight: 500;
     font-family: "Poppins", sans-serif;
     color: rgba(255, 255, 255,1);
       margin-bottom : 0rem;

}
.contact-us .contatc-content p {
     font-size: 16px;
    font-weight: 500;
     font-family: "Poppins", sans-serif;
     color: rgba(255, 255, 255,1);
  margin-bottom : 0rem;
  margin-bottom: 40px;
  margin-top: 16px;



}
.contact-us .contatc-content{
    width: 100%;
    height: 100%;
    background-color: #1C1E53;
    padding: 96px 96px 0px 96px;
}
.contact-us .contatc-content input {
    width: 100%;
    padding: 18px 32px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255,0.05);
    border-radius: 8px;
    margin-bottom: 16px;
    color: white;
    font-size: 18px;
}
.contact-us .contatc-content input:nth-child(3){
  
    margin-bottom: 0px;
}
.contact-us .contatc-content input::placeholder {
    color: rgba(244, 246, 252,1);
    font-size: 16px;
       font-weight: 400;
     font-family: "Poppins", sans-serif;
}
.contact-us .contatc-content button {
    background-color:rgba(252, 217, 128,1) ;
    padding: 16px 0px;
    width: 100%;
    border-radius: 41px;
     font-family: "Manrope", sans-serif;
     font-size:18px ;
     font-weight: 600;
     color: rgba(27, 28, 43,1);
     margin-top: 39px;
     margin-bottom: 28px;
}
.contact-us .contatc-content .viewpricing-button {
    color: white;
}.contact-us .contatc-content .tittle {
    text-align: center;
}
/* contact css ends here */
.blog  
{
    padding-top: 128px;
}
.blog h2 {
    font-size: 48px;
       font-weight: 600;
     font-family: "Poppins", sans-serif;
     color: rgba(40, 41, 56,1);
}
.card {
    border-radius: 0px !important;
}
.blog .card  img {
    border-radius: 0px !important;
}
.blog .card p {
     font-size: 16px;
       font-weight: 500;
     font-family: "Poppins", sans-serif;
     color: rgba(40, 41, 56,1);
}
.blog .card .card-title {
     font-size: 24px;
       font-weight: 500;
     font-family: "Poppins", sans-serif;
     color: rgba(40, 41, 56,1);
}
.blog .card .card-text {
     font-size: 16px;
       font-weight: 400;
     font-family: "Poppins", sans-serif;
     color: rgba(40, 41, 56,1);
}
.blog .card-icon {
     font-size: 16px;
       font-weight: 500;
     font-family: "Poppins", sans-serif;
     color: rgba(40, 41, 56,1);
     position: relative;
     overflow: hidden;
}
.blog .card-icon i {
    position: absolute;
    top: 50%;
    left: 100px;
    transform: translate(-50%,-50%);
    transition: .5s;
    opacity: 0;
 
}
.blog .card-icon:hover i {
    left: 150px;
    overflow: visible;
    opacity: 1;
   
}
/* blog css ends here */
/* foooter css starts here */
footer {
    background-color: #1C1E53;
    padding-top: 96px;
    padding-bottom: 95px;
    padding-left: 160px;
    padding-right: 350px;
}
footer p {
     font-size: 16px;
       font-weight: 500;
     font-family: "Poppins", sans-serif;
     color: rgba(255, 255, 255,1);
     padding-top: 22px;
}
footer .footer-box {
    width: 517px;
    /* height: 95px; */
    height: auto;
    background-color:#FCD980 ;
    display: flex;
}
footer .footer-box .footer-box1 {
    width: 50%;
}
footer .footer-box .footer-box2 {
    width: 50%;
}
footer .footer-box .footer-box1 h3 {
     font-size: 18px;
       font-weight: 500;
     font-family: "Poppins", sans-serif;
     color: rgba(40, 41, 56,1);
     padding-top: 18px;
     padding-left: 37px;
     }
footer .footer-box .footer-box2 h3 {
     font-size: 18px;
       font-weight: 500;
     font-family: "Poppins", sans-serif;
     color: rgba(40, 41, 56,1);
     padding-top: 18px;
     padding-left: 37px;
     }
footer .footer-box .footer-box1 p {
     font-size: 16px;
       font-weight: 400;
     font-family: "Poppins", sans-serif;
     color: rgba(40, 41, 56,1);
     padding-top: 5px;
     padding-left: 37px;
     }

footer .footer-box .footer-box2 p {
     font-size: 16px;
       font-weight: 400;
     font-family: "Poppins", sans-serif;
     color: rgba(40, 41, 56,1);
      padding-top: 5px;
     padding-left: 37px;
     }

footer .footer-icons {
    color: white;
   
}
footer h2 {
     font-size: 57px;
       font-weight: 700;
     font-family: "Poppins", sans-serif;
     color: rgba(255, 255, 255,1);
    
   
}
footer p {
     font-size: 16px;
       font-weight: 400;
     font-family: "Poppins", sans-serif;
     color: rgba(244, 246, 252,1);
     text-align: start;
     width: 399px;
    
    
}
footer .row {
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important
    ;
}
footer .footer-box-left {
    margin-left: 260px;
}
/* footer css ends here part 1 */
/* foooter css starts here part 2 */
.footer-below {
    background-color: rgba(255, 255, 255,1);
    padding: 32px 140px;
}
.footer-below p{
    font-size: 16px;
       font-weight: 500;
     font-family: "Poppins", sans-serif;
     color: rgba(40, 41, 56,1);
}
.footer-below ul {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 32px;
}
.footer-below ul li a {
    text-decoration: none !important;
    color: rgba(40, 41, 56,1);
     font-size: 16px;
       font-weight: 500;
     font-family: "Poppins", sans-serif;
     transform: .5s;
}
.footer-below ul li a:hover {
   
     color: lightskyblue;
}